*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family: 'Roboto', sans-serif;
}
section{
    margin-bottom: 140px;
}
.container{
    display: flex;
}
h1{
    font-size: 48px;
    margin-bottom: 20px;;
    color: gray;
   font-weight: medium 500;
    
}
h1 span{
    color: orangered;
}
p{
    font-size: 24px;
    font-weight:lighter;
}
.half-width{
    width: 40%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.half-width img{
    width: 100%; 
}
.btn{
    text-decoration: none;
    text-align: center;
    color: white;
   
    font-size: 24px;;
    border-radius: 37px;
    background: linear-gradient(45deg,#fe8c00,#f83600);
    padding: 15px 10px;
    margin-top: 5%;
    width:35%;
    margin-bottom: 15%;
    
}

/*About Me section */
.about{
    background: url(images/shapes/Frame57.jpg) no-repeat;
    background-size:cover;
    padding: 5% 10% 0 10%;
    
}
.about .container{
    padding: 0% 5%;
}
.about p{
    padding-bottom: 5%;
}
.about img{
    width: 50%;
}

/*My Recipie  section */
.recipie_head{
    text-align: center;
    padding: 0 30% 5% 30%;
}
.card_container{
    display: flex;
    margin: 0 150px;
}
.card{
    width:30%;
    box-shadow: 5px 7px 10px gray;
    padding: 26px;
    border-radius: 30px;
    margin: 0 auto;
}
.card img{
    width: 100%;
    height: 400px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.card h2{
 padding: 25px 0;
 font-size: 36px;
 font-weight: 500;
}
.card p{
    padding: 0  50px 24px 0;
    line-height: 30px;
}

/*Service  section */
.sevices{
 text-align: center;
}
.sevices h1{
    padding-bottom: 30px;
}
.card-2{
    width:30%;
    box-shadow: 5px 7px 10px gray;
    padding: 26px;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#card-2{
    color:#fe8c00 ;
}

h3{
    font-size: 30px;
    padding: 20px 10px;

}
button{
    color: white;
    background: black;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    margin: 15px 0;
    font-size: 16px;
}
.btn-2{
    background:linear-gradient(45deg,#fe8c00,#f83600);
   }

/*Followers  section */
.container-1{
    display: flex;
    box-shadow: 5px 7px 10px gray;
    justify-content: center;
    width: 100%;
    margin: 0 8%;
    padding: 100px 10%;
}
.container-1 div{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4{
    font-size: 50px;
    padding-bottom: 5px;
    font-weight: bolder;
}

/*Footer  section */
footer{
    background: black;
    text-align: center;
    padding: 40px 150px 130px 150px;
}
footer p{
    color: white;
    font-size: 20px;
    padding-top: 35px;
}
footer h1{
    font-size: 35px;
    word-spacing: 10px;
}
